/*CUERPO*/
body {
    margin: 0px;
    overflow: auto;
  }

/*CABECERA*/
.iconos{
    width: 100%;
    height: 66px;
    background-color: #10599C;
    opacity: 80%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

/*CONTACTOS*/
.iconos li{
    float: left;
    list-style: none;
    position: relative;
    left: -0.6%;
    top: 7px;
   
}

/*GMAIL*/
.iconos .Gmail{
    float: left;
    top: 12%;
    left: 280px;
}

/*TELEFONO*/
.iconos img{
    font-size: 20%;
    float: left;
    position: relative;
    left: 7px;
}

/*ICONOS DE REDES*/
.redes{
    
    width: 20%;
    position: absolute;
    right: 235px;
}

/*ICONOS DE USUARIO*/
#Usuario{
    position: absolute;
    top: 14.3px
}

/*BARRA DIVISORA*/
#barra{
    color: #fff;
    font-size: 42px;
    position: absolute;
    right: 166px;
    top: 9px;
}

/*LINK DE RESGITRO*/
span a{
    text-decoration:none;
    color: #fff;
    font-family: sans-serif;
    font-size: 13.3px;
    letter-spacing: 0.5px;
    position: absolute;
    right: 10%;
    top: 26px;
}

#registro{
    position: absolute;
    right: 68px;
    top: 26px;
}

/*TEXTO DE LA CABECERA*/
.iconos ul li a {
    text-decoration: none;
    width: 300px;
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
  }

/*LOGO*/
.logo{
    float: left;
    position: relative;
    right: -2.9%;
    top: 12px;
}

/*MENÚ*/

.menu{
    overflow: hidden;
    /*border: 2px solid #4CAF50;*/
    padding: 0px;
}
.menu ul {
    margin: 0%;
    list-style: none;
}

/*MENÚ DE OPCIONES*/
.menu li {
    float: left;
    position: relative;
    top: 57px;
}
 /*ATRIBUTOS DEL MENÚ DE OPCIONES*/
.menu ul li a {

    text-decoration: none;
    width: 200px;
    display: block;
    text-align: right;
    color: #444;
    font-size: 28.5px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
  }

.menu a:hover{
    color: #10599C;
    text-decoration: underline;
}

/*CARRITO DE COMPRAS*/
#carrito{
    position: absolute;
    right: 352px;
    top: 107px;
}

/*AGENDACION DE CITAS*/
#citas{
    
    position: absolute;
    right: 28px;
    top: 100px;
}

/*LINEA DIVISORA*/
.linea{
    width: 100%;
    height: 7px;
    background-color: #10599C;
    opacity: 80%;
    margin-bottom: 0.9%;
}

/*PRIMERA IMAGEN*/
#presentacion{
    float: right;
    width: 58%;
    position: relative;
    left: -20px;
}

/*RECTANGULO ANARANJADO CLARO*/
#rectangulo_naranja{
    width: 235px;
    height: 59px;
    background-color: #F4B335;
    opacity: 52%;
    position: relative;
    left:598px;
}

/*CUADRO AZUL*/
#cuadro_azul{
    width: 75px;
    height: 80px;
    background-color: #006FFF;
    opacity: 45%;
    position: relative;
    top: -59px;
}

/*TITULO DE SERVICIOS*/
h1{
    width: 25%;
    font-size: 60px;
    position: relative;
    left: 180px;
    top: 70px;
}

#veterinarios{
    position: relative;
    left: 76px;
}

/*PARRAFO DE SERVICIOS*/
#parrafo{
    width: 19%;
    height: auto;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    position: relative;
    left: 220px;
    top: 95px;
}

/*RECTANGULO ANARANJADO OSCURO*/
.rectangulo{
    width:210px;
    height: 75px;
    background-color: #F4B335;
    position: relative;
    top: 240px;
}

/*CUADRO AZUL 2*/
#cuadro_Azul{
    width: 75px;
    height: 80px;
    background-color: #006FFF;
    opacity: 45%;
    position: relative;
    left: 704px;
    top: 220px;
}

/*BENEFICIOS*/
.beneficios{
    width: 100%;
    background-color: #005BA1;
    position: relative;
    top: 170px;
}

.beneficios p{
    width: 12%;
    font-size: 50px;
    color:#fff;
    position: relative;
    left: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

/*SANIDAD Y BIENESTAR*/
h2{
    width: 24%;
    color: #444;
    position: relative;
    top: 185px;
    left:95px;
    font-size: 31px;
    font-family: Arial, Helvetica, sans-serif;
}

.sanidad{
    width: 15%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    position: relative;
    top: 200px;
    left: 135px;
    
}

/*SALUD, SEGURIDAD Y ABASTECIMIENTO*/
#a{
    position: relative;
    top: -10px;
    left:690px;
    font-size: 31px;
}

pre{
    font-family: Arial, Helvetica, sans-serif;
}

.salud{
    width: 21%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    position: relative;
    top: -18px;
    left: 740px;
}

/*MEDICINA PREVENTIVA*/
#b{
    position: relative;
    top: -210px;
    left:1445px;
    font-size: 31px;
    width: 20%;
}

.medicina{
    width: 16%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    position: relative;
    top: -200px;
    left: 1440px;
}

/*NUESTROS SERVICIOS*/
.nuestros_servicios{
    width: 100%;
    background-color: #005BA1;
    position: relative;
    top: -200px;
}

.nuestros_servicios p{
    width: 28%;
    font-size: 50px;
    color:#fff;
    position: relative;
    left: 715px;
    font-family: Arial, Helvetica, sans-serif;
}

/*SEVICIOS OFRECIDOS*/
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/*VETERINARIA,PELUQUERIA,GUARDERIA*/
.SERVICIOS{
    float: left;
    width:27.5%;
    margin-left: 82px;
    margin-right: 10px;
    position: relative;
    left: -25px;
    top:-195px;
}

.SERVICIOS:before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 107.5%;
    height: 98%;
    border-radius: 3%;
    background-color: rgba(0, 0, 0, 0.21); 
}

.SERVICIOS img{
    display: block;  
}

.etiqueta{
    width: 70%;
    height: 50px;
    background-color: #1B5081;
    opacity: 82%;
    position: absolute;
    left: 196px;
    top: 198px;
    border-radius: 2%;
}
.etiqueta h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -18px;

}

/*SPA,BAÑOS,URGENCIAS*/
.SERVICIOS-b{
    float: left;
    width:27.5%;
    margin-left: 82px;
    margin-right: 10px;
    margin-top: 38px;
    position: relative;
    left: -25px;
    top:-195px;
}

.SERVICIOS-b:before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 107.5%;
    height: 98%;
    border-radius: 3%;
    background-color: rgba(0, 0, 0, 0.21); 
}

.SERVICIOS img{
    display: block;
    
}

/*PIE DE PAGINA*/
#pie_pag{
    width:100%;
    position: relative;
    top: -170px;
}

#logo_pie{
    position: relative;
    top: -890px;
}



